body {
  font-family: 'Contrail One', cursive;
  background: linear-gradient(-45deg, #b3cde0, #b3cde0, #011f4b );
  background-size: 100% 400%;
  height: 400px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
